@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.open {
  @apply z-10 absolute bottom-0 left-0 right-0 top-20 flex h-screen w-full flex-col gap-2 bg-white pt-6;
  animation: menu 0.3s ease-in-out;
}

body {
  @apply font-sora tracking-widest;
}

@keyframes menu {
  0% {
      left: -100%;
  }
  100% {
      left: 0;
  }
}